# Data Analysis with Pandas
## Cycle Share Data set
* Bicycle Trip Data from Seattleâ€™s Cycle Share System

In [3]:
import pandas as pd

stationData = pd.read_csv('./data/station.csv')
stationData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   station_id         58 non-null     object
 1   name               58 non-null     object
 2   lat                58 non-null     float64
 3   long               58 non-null     float64
 4   install_date       58 non-null     object
 5   install_dockcount  58 non-null     int64
 6   modification_date  17 non-null     object
 7   current_dockcount  58 non-null     int64
 8   decommission_date  4 non-null      object
dtypes: float64(2), int64(2), object(5)
memory usage: 4.2+ KB

In [17]:
weatherData = pd.read_csv('./data/weather.csv')
weatherData.info()
weatherData

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        689 non-null    object
 1   Max_Temperature_F           689 non-null    int64
 2   Mean_Temperature_F          688 non-null    float64
 3   Min_TemperatureF            689 non-null    int64
 4   Max_Dew_Point_F             689 non-null    int64
 5   MeanDew_Point_F             689 non-null    int64
 6   Min_Dewpoint_F              689 non-null    int64
 7   Max_Humidity                689 non-null    int64
 8   Mean_Humidity               689 non-null    int64
 9   Min_Humidity                689 non-null    int64
 10  Max_Sea_Level_Pressure_In   689 non-null    float64
 11  Mean_Sea_Level_Pressure_In  689 non-null    float64
 12  Min_Sea_Level_Pressure_In   689 non-null    float64
 13  Max_Visibility_Miles        689 non-null    int64
 14  Mean_Visibility_Miles       689 non-null    int64
 15  Min_Visibility_Miles        689 non-null    int64
 16  Max_Wind_Speed_MPH          689 non-null    int64
 17  Mean_Wind_Speed_MPH         689 non-null    int64
 18  Max_Gust_Speed_MPH          504 non-null    object
 19  Precipitation_In            689 non-null    float64
 20  Events                      328 non-null    object
dtypes: float64(5), int64(13), object(3)
memory usage: 113.2+ KB

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

In [8]:
# solving the error in reading the csv
tripData = pd.read_csv('./data/trip.csv', error_bad_lines=False)
tripData.info()
tripData

/home/boshra/pythonNumpy/lab13/lab13/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286857 entries, 0 to 286856
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            286857 non-null  int64
 1   starttime          286857 non-null  object
 2   stoptime           286857 non-null  object
 3   bikeid             286857 non-null  object
 4   tripduration       286857 non-null  float64
 5   from_station_name  286857 non-null  object
 6   to_station_name    286857 non-null  object
 7   from_station_id    286857 non-null  object
 8   to_station_id      286857 non-null  object
 9   usertype           286857 non-null  object
 10  gender             181557 non-null  object
 11  birthyear          181553 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [10]:
# What is the average trip duration for a borrowed bicycle?
average_duration = tripData['tripduration'].mean()
average_duration

1178.2956753399776

In [16]:
# Whatâ€™s the most common age of a bicycle-sharer?
from datetime import date

common_year = tripData['birthyear'].mode()
common_year
current_year = date.today().year
common_age = current_year - common_year

common_age

0    34.0
dtype: float64

In [25]:
# Given all the weather data here, find the average precipitation per month, and the median precipitation.

median_precipitation = weatherData['Precipitation_In'].median()
print(f"median precipitation is {median_precipitation}" )

weatherData
weatherData.groupby(pd.PeriodIndex(weatherData['Date'], freq="M"))['Precipitation_In'].mean()

median precipitation is 0.0

Date
2014-10    0.300526
2014-11    0.141667
2014-12    0.145161
2015-01    0.070645
2015-02    0.163214
2015-03    0.135161
2015-04    0.056667
2015-05    0.014194
2015-06    0.005667
2015-07    0.008710
2015-08    0.035484
2015-09    0.041000
2015-10    0.120645
2015-11    0.234000
2015-12    0.327419
2016-01    0.216452
2016-02    0.173448
2016-03    0.178710
2016-04    0.046000
2016-05    0.010645
2016-06    0.055333
2016-07    0.015484
2016-08    0.000968
Freq: M, Name: Precipitation_In, dtype: float64

In [58]:
# Whatâ€™s the average number of bikes at a given bike station?
stationData
average_bike = stationData['install_dockcount'].mean()
print(f"the average number of bikes {average_bike}")

the average number of bikes 17.586206896551722

In [62]:
# When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

# isnull() will print only the NaN
filtered_modified_station = stationData[stationData['modification_date'].notnull()]

after__modification_average = filtered_modified_station['current_dockcount'].mean()
before_modification_average = filtered_modified_station['install_dockcount'].mean()

result = after__modification_average <  before_modification_average 

if(result == True):
    print("It is more likely to lose bikes")
else:
    print("It is more likely to gain bikes")

It is more likely to lose bikes