In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('./data/cereal.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [3]:
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [4]:

df.tail(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
67,Special K,K,C,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324
68,Strawberry Fruit Wheats,N,C,90,2,0,15,3.0,15.0,5,90,25,2,1.0,1.00,59.363993
69,Total Corn Flakes,G,C,110,2,1,200,0.0,21.0,3,35,100,3,1.0,1.00,38.839746
70,Total Raisin Bran,G,C,140,3,1,190,4.0,15.0,14,230,100,3,1.5,1.00,28.592785
71,Total Whole Grain,G,C,100,3,1,200,3.0,16.0,3,110,100,3,1.0,1.00,46.658844
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [5]:
# filter the df by columns name and mfr
df[["name", "mfr"]]

                         name mfr
0                   100% Bran   N
1           100% Natural Bran   Q
2                    All-Bran   K
3   All-Bran with Extra Fiber   K
4              Almond Delight   R
..                        ...  ..
72                    Triples   G
73                       Trix   G
74                 Wheat Chex   R
75                   Wheaties   G
76        Wheaties Honey Gold   G

[77 rows x 2 columns]

In [9]:
df.set_index("fat") # set which colum to be your index

,name,mfr,type,calories,protein,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
fat,,,,,,,,,,,,,,,
1,100% Bran,N,C,70,4,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
5,100% Natural Bran,Q,C,120,3,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
0,All-Bran with Extra Fiber,K,C,50,4,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
2,Almond Delight,R,C,110,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,Triples,G,C,110,2,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
1,Trix,G,C,110,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
1,Wheat Chex,R,C,100,3,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
1,Wheaties,G,C,100,3,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
1,Wheaties Honey Gold,G,C,110,2,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [10]:
new_df = df[["name","rating","sugars"]].sort_values('rating', ascending=False)
new_df

                         name     rating  sugars
3   All-Bran with Extra Fiber  93.704912       0
64     Shredded Wheat 'n'Bran  74.472949       0
65  Shredded Wheat spoon size  72.801787       0
0                   100% Bran  68.402973       6
63             Shredded Wheat  68.235885       0
..                        ...        ...     ...
14                Cocoa Puffs  22.736446      13
18              Count Chocula  22.396513      13
35           Honey Graham Ohs  21.871292      11
12      Cinnamon Toast Crunch  19.823573       9
10               Cap'n'Crunch  18.042851      12

[77 rows x 3 columns]

In [12]:
mcc =  df['carbo'].mode()

import numpy as np
df[df['carbo'] == np.mean(mcc)][['name', 'carbo']].set_index('name')

                     carbo
name
Almond Delight        14.0
Frosted Flakes        14.0
Frosted Mini-Wheats   14.0
Fruitful Bran         14.0
Honey-comb            14.0
Quaker Oat Squares    14.0
Raisin Bran           14.0